@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
}

.container-1{
    width: 290px;
    height: 115vh;
    background-color: #e4e1be;
    transition:  transform 0.3s ease-in-out;
}


.container-1 nav ul li a{
    text-decoration: none;
    color: black;   
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

.container-1 nav ul li a:hover{
    color: #7685da;

}

.container-1 nav ul li{
    margin: 20px 0;
    list-style: none;
}

.container-1 nav ul{
    margin-top: 20px;
    margin-left: 20px;
}

.logo-text{
    margin-top: -2px;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}
.logo-text p{
    padding: 10px;
    background-color: #83825e;
    color: white;
}

.logo-text p{
    margin-top: 2px;
}

.food-item-reports{
    color: white;
    font-size: 1.3rem;
    margin-top: 2px;
    margin-left: 0px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;   

}

.food-item-reports a{
    text-decoration: none;
    color: white;
}

.container-2{
    width: 105vw;
    height: 115vh;
    background-color: rgb(247, 247, 244);
}

.fa-bars-cross{
    position: absolute;
    top: 20px;
}

.fa-bars-cross .cross{
    margin-top: 1px;
    margin-left: 16rem;
    cursor: pointer;
}

.fa-bars-cross .fa-bars{
    position: absolute;
    margin-left: 60px;
    cursor: pointer;
}

.nav-go{
    position: absolute;
    transform: translate(-294px , 0px);
}

@media screen and (max-width: 1318px) {
    .fa-bars-cross .cross{
        left: 230px;
    }
}

.top-bar{
    height: 72px;
    background-color: white;
    box-shadow: 1px 1px rgb(160, 157, 157);
}

.add-item h1{
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    margin-left: 10px;
}

.add-item{
    margin: 30px 70px;
}

.add-item .product-table {
    margin-top: 32px;
    width: 70vw;
    height: 550px;
    background-color: rgb(248, 249, 250);
    box-shadow: 1px 1px 1px 1px rgb(160, 157, 157);

}

.add-item .product-table #product-management{
    display: inline-flex;
    margin-top: 25px;
    margin-left: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

hr{
    color: black;
}

.add-item .product-table p{
    font-size: 1rem;
    font-family: 'Roboto Mono', monospace;
    display: inline-flex;
}

.add-item p{
    margin-left: 20px;
}

#food-type-select{
    height: 32px;
    font-family: 'Roboto Mono', monospace;
    margin-left: 3.7rem;
    width: 20vw;
}
#food-select{
    height: 32px;
    font-family: 'Roboto Mono', monospace;
    margin-left: 8.5rem;
    width: 20vw;
}
#stock  {
    height: 32px;
    font-family: 'Roboto Mono', monospace;
    margin-left: 4.2rem;
    width: 10vw;
    text-align: center;
}
#price-per-item{
    height: 6vh;
    font-family: 'Roboto Mono', monospace;
    margin-left: 2.4rem;
    width: 10vw;
    text-align: center;
}

#save-detail{
    height: 32px;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(94, 94, 218);
    color: white;
    display: inline-flex;
    margin-left: 1rem;
    border-radius: 4px;
}

@media screen and (max-width: 375px) and (max-height: 667px){
    #food-type-select{
        margin-left: 0.6999999999999993rem;
    }
    #food-select{
        margin-left: 5.5rem;
    }


    .container-2{
        margin-left: -51px;
        width: 113vw;
    }
    .container-1{
        z-index: 1;
    }
    .fa-bars-cross{
        margin-left: -60px;
    }
    
    .fa-bars-cross .fa-bars{
        margin-left: 83px;
    }
}

@media screen and (max-width: 390px) and (max-height: 844px) {
    .container-2{
        width: 113vw;
    }

    #food-type-select{
        margin-left: 1.7000000000000002rem;
    }
}   

@media screen and (max-width: 360px) and (max-height: 740px) {

    #food-type-select{
        margin-left: 0.7000000000000002rem;
    }
    #food-select{
        margin-left: 5.5rem;
    }

    #stock{
        margin-left: 3.2rem;
    }

    #price-per-item{
        margin-left: 1.4rem;
    }

    .container-2{
        margin-left: -41px;
    }
    .container-1{
        z-index: 1;
    }
    .fa-bars-cross{
        margin-left: -50px;
    }
    
    .fa-bars-cross .fa-bars{
        margin-left: 83px;
    }
}


@media screen and (max-width: 540px) and (max-height: 720px){
    .container-2{
        width: 113vw;
    }
}

@media screen and (max-width: 344px) and (max-height: 675px){
    #food-type-select{
        margin-left: 0.6999999999999993rem;
    }
    #food-select{
        margin-left: 5.5rem;
    }
}
